<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> THE MOST FUNNY GAME IN THE WHOLE WORLD</h1>
    <nav>
      <ul>
        <li><a href= "/string_compare/rock/rock"> Equal words</a></li>
        <li><a href= "/palindrome/rock"> Palindrome</a></li>
        <p><a href="https://en.wikipedia.org/wiki/Palindrome" target="_blank">What is a Palindrome?</a></p>
        <li><a href= "/isogram/rock"> Isogram</a></li>
        <p><a href="https://en.wikipedia.org/wiki/Isogram" target="_blank">What is a Isogram?</a></p>
      </ul>
    </nav>
  </body>
</html>
